*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
header h1{
    text-align: center;
    font-size: 50px;
}
.symbol_select {
    text-align: center;
    margin-bottom: 20px;
}
.symbol_select button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.symbol_select button:hover {
    background-color: green;
}
.turn_indicator{
    text-align: center;
    margin: 10px;
    font-size: 25px;
}
.game_board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black; 
    aspect-ratio: 1 / 1; 
    font-size: 2em; 
    box-sizing: border-box; 
}
.cell button {
    width: 100%; 
    height: 100%; 
    font-size: 2em;
    border: none; 
    background: none; 
    cursor: pointer; 
}
.cell[data-symbol="X"]:hover {
    background-color: red; 
}
.cell[data-symbol="O"]:hover {
    background-color: blue; 
}
.cell:hover {
    cursor: pointer; 
}
.scores{
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
.player1_score{
    margin-top: 20px;
}